@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1.3em;
    }
    p.meta {
        font-size: 0.65em;
    }
    p {
        font-size: 0.8em;
    }
    .site-nav {
        font-size: 0.75em;
    }

    .call-out {
        font-size: 0.91em;
    }

}

img {
    padding: 10px;
    display: block;
    margin:auto;
}

body {
    font-size: 18px;
    font-family: 'Merriweather', serif;
}

h1 {
    font-family: 'Lekton', sans-serif;   
}
