.header {
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;

  :global .dark-theme :local & {
    background: #252627;
  }

  a {
    text-decoration: none;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 760px;
  max-width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;

  animation: glitch1 2.5s infinite;

  & img {
    height: 44px;

    @media (--phone) {
      height: 35px;
    }
  }
}

.mark {
  margin-right: 5px;
}

.cursor {
  @media (--phone) {
    display: none;
  }

  display: inline-block;
  width: 10px;
  height: 1rem;
  background: #a25cff;
  margin-left: 5px;
  border-radius: 1px;
  animation: cursor 1s infinite;
}

.text,
.mark {
  font-size: 17px;
  @media (--phone) {
    font-size: 0.9rem
  }
}

.right {
  display: flex;
  position: relative;
}

@keyframes cursor {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-0.5deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.35;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
